# ANNEX 1: Creating a team_data csv file
---

The objective of this Notebook is to create a new dataframe that contains all the teams names and their IDs.

After its creation, it will be stored in */data/interim/team_data.csv*

In [14]:
# Libraries used
import pandas as pd
# Dataset
total_data = pd.read_csv('../data/raw/match_results.csv')

C:\Users\Francesc\AppData\Local\Temp\ipykernel_4348\393496171.py:4: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  total_data = pd.read_csv('../data/raw/match_results.csv')

### Step 1. Create a new dataframe with only the teams names and IDs

In [19]:
# Create two dataframes with the team names and IDs
unique_teams_1 = total_data[['team_1_id', 'team_1_name']].rename(columns={'team_1_id': 'team_id', 'team_1_name': 'team_name'})
unique_teams_2 = total_data[['team_2_id', 'team_2_name']].rename(columns={'team_2_id': 'team_id', 'team_2_name': 'team_name'})
# Concat boths dataframes in one
team_data = pd.concat([unique_teams_1, unique_teams_2]).reset_index(drop=True)
team_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189214 entries, 0 to 189213
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   team_id    189214 non-null  int64
 1   team_name  189214 non-null  object
dtypes: int64(1), object(1)
memory usage: 2.9+ MB

### Step 2. Drop duplicates (testing all options)

In [20]:
# DROP DUPLICATES (TEST ALL OPTIONS)
    # OPTION 1: BOTH
both = team_data.drop_duplicates()
print(f"total teams using both columns: {both.shape[0]}")
    # OPTION 2: ONLY ID
only_id = team_data['team_id'].drop_duplicates()
print(f"total teams using only id: {only_id.shape[0]}")
    # OPTION 3: ONLY NAMES
only_names = team_data['team_name'].drop_duplicates()
print(f"total teams using only names: {only_id.shape[0]}")

total teams using both columns: 5259
total teams using only id: 5259
total teams using only names: 5259

This confirms that all the teams have **only one name and have not changed throughout the years**.

### Step 3. Review dataset

In [27]:
# Set team_id as index
team_data = both.set_index('team_id').sort_index()
team_data.head(5)

         team_name
team_id
3180       croveNt
4411           NIP
4413     Lemondogs
4416        BuyKey
4429       Dynamic

### Save dataset

In [28]:
# SAVE THE DATASET
total_data.to_csv('../data/interim/team_data.csv')