# ANNEX 1: Creating a team_data csv file
---

Our interest in this document is to create a new dataframe that contains all the teams names and their IDs.

After its creation, it will be stored in /data/interim/team_data.csv

In [43]:
# LIBRARIES
import pandas as pd
# DATASET
total_data = pd.read_csv('../data/raw/match_results.csv')

C:\Users\Francesc\AppData\Local\Temp\ipykernel_16860\3299149500.py:4: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  total_data = pd.read_csv('../data/raw/match_results.csv')

### Step 1. Create a new dataframe with only the teams names and IDs

In [44]:
# SPLIT THE INFORMATION IN TEAM 1 & 2 LINK COLUMNS
series = total_data['team_1_link'].str.split('/')
series_2 = total_data['team_2_link'].str.split('/')

# CREATE ONE DATAFRAME FOR EACH TEAM
team_1_data = series.apply(pd.Series)
team_2_data = series_2.apply(pd.Series)

# CLEAN UNNECESARY COLUMNS
team_1_data = team_1_data[[3,4]]
team_2_data = team_2_data[[3,4]]

# CONCAT BOTH TABLES
team_data = pd.concat([team_1_data, team_2_data], ignore_index=True)

### Step 2. Drop duplicates (testing all options)

In [45]:
# DROP DUPLICATES (TEST ALL OPTIONS)
    # OPTION 1: BOTH
both = team_data.drop_duplicates()
print(f"total teams using both columns: {both.shape[0]}")
    # OPTION 2: ONLY ID
only_id = team_data[3].drop_duplicates()
print(f"total teams using only id: {only_id.shape[0]}")
    # OPTION 3: ONLY NAMES
only_names = team_data[4].drop_duplicates()
print(f"total teams using only names: {only_id.shape[0]}")

total teams using both columns: 5259
total teams using only id: 5259
total teams using only names: 5259

This confirms that all the teams have **only one name and have not changed throughout the years**.

### Step 3. Review dataset and save it

In [50]:
# CHANGE COLUMNS NAME AND ORDER THE TABLE BY TEAM ID
total_data = both.rename(columns={3:'team_id', 4:'team_name'}).sort_values(by='team_id')
total_data.reset_index(drop=True, inplace=True)
total_data.head(5)

  team_id  team_name
0   10000     noname
1   10001  novacancy
2   10002      front
3   10003      kvall
4   10004       5els

In [51]:
# SAVE THE DATASET
total_data.to_csv('../data/raw/team_data.csv')